/* Header */
.header-wrapper {
  height: 10em;
}

.header-content-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.header-logo-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.header-content-wrapper h1 {
  font-family: 'Glegoo', serif;
  font-size: 3em;
  color: #5e5642;
}

/* Menu */
.mui-item-menu-wrapper {
  padding: 0px;
}

.menu-wrapper {
  margin-top: 0em;
  padding: 2em 0em;
  height: 10em;
}

.menu-content-wrapper-wrapper {
  height: 100%;
}

.menu-content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.menu-content-wrapper a {
  font-family: 'Glegoo', serif;
  font-size: 2em;
  color: #3e3520;
  text-decoration: none;
}

.menu-content-wrapper a:hover {
  color: #807650;
}

/* Footer */
.footer-wrapper {
  height: 10em;
}

.footer-content-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
  font-family: 'Antonio', sans-serif;
}

/* Body */
body {
  margin: 0px;
  padding: 0px;
  background-image: url(/images/home-wood-bg2.png);
  background-repeat: repeat;
  background-size: auto;
}

.body-content-wrapper {
  height: fit-content;
  margin-bottom: 5em;
  padding: 35px;
  font-family: 'Gilda Display', serif;
}

.body-content-wrapper p {
  margin: 0 0 10px 0;
}

.header-wrapper,
.footer-wrapper,
.menu-content-wrapper {
  background-color: #d4ae80;
  background-image: url('/images/wood-pattern.png');
  filter: drop-shadow(11px 11px 10px rgb(36, 36, 36));
}

.body-content-wrapper {
  background-image: url('/images/body-paper-bg.png');
  background-size: cover;
  filter: drop-shadow(11px 11px 10px rgb(36, 36, 36));
}

/* Blog */

.blog-post-wrapper {
  outline: dashed 2px;
  padding: 0px 10px 20px 10px;
}

.blog-post-wrapper:not(:last-child) {
  margin-bottom: 30px;
}

.blog-post-date {
  font-style: italic;
  margin-top: 20px;
}

.blog-tag-wrapper {
  font-family: monospace;
  background-color: yellow;
  outline: 1px black solid;
}
