/* Header */
.header-wrapper {
  outline: 1px solid black;
  height: 10em;
}

.header-content-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

.header-logo-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

/* Menu */
.mui-item-menu-wrapper {
  padding: 0px;
}

.menu-wrapper {
  margin-top: 0em;
  padding: 2em 0em;
  outline: 1px solid black;
  height: 10em;
}

.menu-content-wrapper-wrapper {
  height: 100%;
}

.menu-content-wrapper {
  display: flex;
  justify-content: center;
  outline: 1px solid black;
  align-items: center;
  height: 100%;
}

/* Footer */
.footer-wrapper {
  outline: 1px solid black;
  height: 10em;
}

.footer-content-wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}

/* Body */
body {
  margin: 0px;
  padding: 0px;
}

.body-content-wrapper {
  outline: 1px solid black;
  height: 20em;
  margin-bottom: 5em;
  padding: 1em;
}

.body-content-wrapper p {
  margin: 0 0 10px 0;
}

.header-wrapper {
  background-color: #eeb571;
  background-image: url('/images/wood-pattern.png');
}
